---
import DeleteModal from "./modals/DeleteModal.tsx";
import EditModal from "./modals/EditModal.tsx";
---

<div class="d-flex">
    <div class="card mb-3">
        <div class="content-card">
          <div class="img">
            <img src="https://i.pravatar.cc/300" class="avatar" alt="...">
          </div>
          <div class="body">
            <div class="card-body">
              <p class="card-text">Guillermo Obando</p>
              <p class="card-text">guillermo.obando@gmail.com</p>
              <p class="card-text">123456789</p>
              <p class="card-text">Alajuela</p>
            </div>
          </div>
          <div class="action-btns mt-2 me-2">
            <DeleteModal client:load />
            <EditModal client:load />
          </div>
        </div>
      </div>

</div>

<style>
    .card{
        width: 100%;
        height: 200px;
        justify-content: space-between;
        border: 1px solid #070606;
        border-radius: 10px;
    }
    .content-card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        max-height: 150px;
    }
    .avatar {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 200px;
        height: 196px;
    }


    
</style>