---
import "../styles/global.css"
import CardContact from "./CardContact.astro"
import App from "./modals/CreateModal.tsx"


const response = await fetch("http://localhost:3000/contact");
const contacts = await response.json();


---

<div class="container  mt-5">
    <h1>Contact List</h1>
    <p>Example to use the template</p>
    <div class="contact-controls">
        <div class="search-wrapper">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
            <input type="search" name="" id="" class="search-input" placeholder="Search by name, email or phone">
        </div>
        <App client:load />
    </div>
    <CardContact {contacts} client:load/>
</div>

<script src="https://kit.fontawesome.com/509c179d58.js" crossorigin="anonymous"></script>

<style>

    :global(html), :global(body){
        height: 100%;
        margin: 0;
        padding: 0;
    }
   
    .container{
       width: 80%;
       margin: 10% auto;
       padding: 2rem;
       border: 1px solid #a1a0a0;
       border-radius: 10px;
       z-index: 1;
       font-size: 1.5rem;
    }
    
    h1 {
        margin-bottom: 1rem;
    }
    
    .contact-controls {
        display: flex;
        width: 80%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .search-wrapper {
        position: relative;
        width: 80%;
    }
    
    .search-input {
        padding: 0.5rem;
        width: 73%;
        border: none;
        border-bottom: 2px solid #000000;
        border-radius: 1px;
        font-size: 1.1rem;
        margin-left: 25%;
    }

    .search-icon {
        position: absolute;
        left: 93%;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .search-input:focus {
        outline: none;
    }

   

    :global(::-webkit-scrollbar) {
        width: 8px;
    }
    
    :global(::-webkit-scrollbar-track) {
        background: #f1f1f1;
    }
    
    :global(::-webkit-scrollbar-thumb) {
        background: #888;
        border-radius: 4px;
    }
    
    :global(::-webkit-scrollbar-thumb:hover) {
        background: #555;
    }





</style>
